version: "3.9"
services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - db
    volumes:
      - ./:/app

  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    env_file: .database.env
    volumes:
      - db-volume:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db-volume: